@using AlohaKumu.Models;
@using TestApp.Models;
@model TestApp.Models.User

<input type="hidden" id="userID" value="@Model.ID" />
<div id="instructions" class="overlay">
    @Settings.SeeSelectInstructions
    <br />
    <br />
    <audio controls>
        <source src="/Sounds/conga.mp3" type="audio/mpeg"/>
        <source src="/Sounds/conga.ogg" type="audio/ogg"/>
        YOUR BROWSER DOES NOT SUPPORT EMBEDDED AUDIO.  PLEASE UPDATE YOUR BROWSER BEFORE PARTICIPATING.
    </audio>
    <br />
    <br />
    <button id="gobutton">Go</button>
</div>
<div id="feedback"></div>
@{
    List<Word> words = DataAccessor.testList(Model);
    String trialType = DataAccessor.testType(Model);
    if (trialType == "HearSelect"){ Html.RenderPartial("_HearSelect", words); }
    else { Html.RenderPartial("_SeeSelect", words); }
}